body {
	text-align: center; /*edit*/
	color: whitesmoke;
	padding: 20px;
	font-family: 'Public Sans', sans-serif;
	background-image: linear-gradient(to bottom left, #5d6d7e, #34495e, #2e4053, #34495e, #5d6d7e);
	background-attachment: fixed;
}

div.profile {
	text-align: center; /*edit*/
	background-color: #212f3d;
	border: 3px solid #5d6d7e;
	border-radius: 12px;
	padding: 20px;
	float: left;
	width: 23%;
	position: fixed;
}

div.pfp {
	margin: auto;
	text-align: center;
	line-height: 0.33cm;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e3e4f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #485b71;
	width: 100%;
	text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
	text-align: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #485b71;
    text-shadow: 0 0 2px whitesmoke;
    box-shadow: 0 0 5px #485b71;
    transition: 0.5s;
}

div.main {
	text-align: center; /*edit*/
	margin: auto;
	background-color: #212f3d;
	border: 3px solid #5d6d7e;
	border-radius: 12px;
	padding: 20px;
	float: right;
	width: 69.5%;
	
}

img.pfp {
	border-radius: 10px;
	width: 60%;
	height: 60%;
}

div.main img {
	width: 32%;
	height: 32%;
}

nav.links {
	display: flex;
	justify-content: space-around;
	background-color: #2e3e4f;
	box-shadow: 0px 2px 3px black;
	border-radius: 6px;
}

nav.links a:link, a:visited {
	background-color: #2e3e4f;
	color: whitesmoke;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
}

nav.links a:hover, a:active {
	background-color: #485b71;
	text-shadow: 0 0 2px whitesmoke;
	box-shadow: 0 0 5px #485b71;
	transition: 0.5s;
}

div.social-links {
	margin: auto;
	text-align: center;
}

div.social-links img {
	background-color: white;
	border-radius: 50%;
	height: 8%;
	width: 8%;

}

div.social-links img:hover {
	opacity: 0.5;
	transition: 1s;
}


div.card {
	text-align: center;
	border-radius: 6px;
	background-color: #34495e;
	border: 2px solid #5d6d7e;
	padding: 10px;
	width: 40%;
	margin: auto;
}

div.card a {
	color: white;
}

div.aboutme {
	text-align: center;
	background-image: linear-gradient(to bottom, #34495e, #22303e, #212f3d);
	background-attachment: fixed;
	padding: 15px;
	border-radius: 6px;
}

div.aboutme2 {
	text-align: left;
	padding: 15px;
	border-radius: 6px;
	width: 50%;
	margin: auto;
	background-color: #34495e;
	border: 2px solid #5d6d7e;
}

iframe {
	width: 100%;
	height: 320px;
}
