body {
	color: whitesmoke;
	padding: 20px;
	font-family: 'Public Sans', sans-serif;
	background-image: linear-gradient(to bottom left, #5d6d7e, #34495e, #2e4053, #34495e, #5d6d7e);
	background-attachment: fixed;
	text-align: center; /* Center all text in body */
}

div.profile {
	background-color: #212f3d;
	border: 3px solid #5d6d7e;
	border-radius: 12px;
	padding: 20px;
	float: left;
	width: 23%;
	position: fixed;
	text-align: center; /* Center text in profile div */
}

div.pfp {
	margin: auto;
	text-align: center;
	line-height: 0.33cm;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e3e4f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
    text-align: center; /* Center text in dropdown */
}

div.main {
	margin: auto;
	background-color: #212f3d;
	border: 3px solid #5d6d7e;
	border-radius: 12px;
	padding: 20px;
	float: right;
	width: 69.5%;
	text-align: center; /* Center text in main div */
}

nav.links {
	display: flex;
	justify-content: space-around;
	background-color: #2e3e4f;
	box-shadow: 0px 2px 3px black;
	border-radius: 6px;
	text-align: center; /* Center text in nav links */
}

div.strength, div.level, div.social-links, div.card, div.aboutme {
    text-align: center; /* Center text in these divs */
}


