body {
	color: whitesmoke;
	padding: 20px;
	font-family: 'Public Sans', sans-serif;
	background-image: linear-gradient(to bottom left, #5d6d7e, #34495e, #2e4053, #34495e, #5d6d7e);
	background-attachment: fixed;
	text-align: center;
}

.profile, .main, .card, .aboutme, .social-links {
	margin: 20px auto;
	float: none;
	display: block;
	text-align: center;
}

.profile, .main {
	background-color: #212f3d;
	border: 3px solid #5d6d7e;
	border-radius: 12px;
	padding: 20px;
	width: 80%;
}

.pfp img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-bottom: 15px;
}

.dropdown-content, nav.links a {
	text-align: center;
}

nav.links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	background-color: #2e3e4f;
	padding: 10px;
	border-radius: 6px;
}

nav.links a {
	padding: 15px 25px;
	border-radius: 6px;
	transition: background-color 0.3s;
}

.social-links img {
	margin: 5px;
	width: 40px;
	height: 40px;
}

.card, .aboutme {
	width: 60%;
	padding: 20px;
	border-radius: 12px;
	background-color: #34495e;
}
